*.class
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/.name
/.idea/copyright/profiles_settings.xml
/.idea/copyright/
/.idea/
/.settings/
/.settings/org.eclipse.jdt.core.prefs
